.ck-header {
  width: 100%;
  height: 5rem;
  background: var(--main-color);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}
.ck-header .title {
  font-size: 2rem;
  color: #FFF;
}
.ck-header .base {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}
.order-sub {
  font-size: 1.3rem;
  font-weight: 500;
  color: #00a748;
}
.step {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.step .list {
  display: flex;
  align-items: center;
}
.step .list .ifx {
  width: 6rem;
  text-align: center;
}
.step .list .num {
  width: 2.4rem;
  height: 2.4rem;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--main-color);
}
.step .list .text {
  font-size: 1.2rem;
  margin-top: 0.2rem;
  color: var(--main-color);
  font-weight: 500;
}
.step .list .link {
  /* width: 6rem; */
  color: var(--main-color);
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  transform: translateY(-1rem);
  /* .line{

                width: 6rem;
                height: 0.1rem;
                background: #CFCFCF;

            } */
}
.step .list .link i {
  float: right;
  transform: translateY(-0.15rem);
  font-weight: 300;
}
.wrap {
  padding: 0 1.5rem 0 1rem;
}
.wrap .block {
  position: relative;
  padding-bottom: 3.5rem;
  margin-bottom: 1rem;
}
.wrap .block .head {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.wrap .block .head .order {
  width: 3.4rem;
  height: 3rem;
  border: 0.2rem solid var(--main-color);
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--main-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .block .head .title {
  font-size: 2rem;
  color: #000;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.wrap .block .head .thread {
  position: absolute;
  width: 0.1rem;
  height: 100%;
  left: 1.5rem;
  top: 0;
  padding-top: 3.8rem;
}
.wrap .block .head .thread .line {
  width: 0.1rem;
  background-color: #8bb7a9;
  height: 100%;
}
.wrap .block .main {
  background-color: rgba(255, 255, 255, 0.3);
  margin-left: 3.1rem;
  padding: 3rem 2rem;
  border-radius: 1rem;
}
.wrap .block .main .form-group {
  position: relative;
  margin-bottom: 2.5rem;
}
.wrap .block .main .form-group:last-child {
  margin-bottom: 0;
}
.wrap .block .main .form-group .tag {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.3rem;
  font-size: 1.3rem;
  z-index: 1;
  /* background-color: #fff; */
  /* padding: 0 0.4rem; */
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  opacity: 0;
}
.wrap .block .main .form-group .form-control {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 4rem;
  border-radius: 0.6rem;
  border: 0.1rem solid transparent;
  font-size: 1.6rem;
  padding: 0 1.3rem;
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.wrap .block .main .form-group .form-control::placeholder {
  color: #999;
}
.wrap .block .main .form-group .form-control:focus {
  border-color: var(--main-color);
  padding-top: 0.5rem;
}
.wrap .block .main .form-group .form-control:focus + .tag {
  transform: translateY(-3.8rem);
  z-index: 3;
  color: var(--main-color);
  opacity: 1;
}
.wrap .block .main .form-group .have {
  border-color: #000;
  padding-top: 0.5rem;
}
.wrap .block .main .form-group .have + .tag {
  transform: translateY(-3.8rem);
  z-index: 3;
  color: var(--main-color);
  opacity: 1;
}
.wrap .block .main .form-group .control-select {
  padding-left: 1.3rem;
  font-size: 1.5rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(/static/img/jt-b.png) no-repeat right 0.8rem center;
  background-size: 1.7rem;
  outline: none;
  background-color: rgba(255, 255, 255, 0.7);
}
.wrap .block .main .form-group .control-select.have {
  border: 0.1rem solid transparent;
}
.wrap .block .main .form-horizontal {
  display: flex;
}
.wrap .block .main .form-horizontal .control-label {
  font-size: 1.4rem;
  font-weight: 500;
  color: #000;
  width: 9rem;
  height: 4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.wrap .block .main .form-horizontal .grow {
  flex-grow: 1;
}
.wrap .block .main .form-horizontal .grow .row {
  margin-bottom: 1rem;
}
.wrap .block .main .form-horizontal .grow .row:last-child {
  margin-bottom: 0;
}
.wrap .block .main .form-horizontal .grow .order-sub {
  font-size: 1.3rem;
  font-weight: 300;
  color: #00ae16;
  margin-top: 0.2rem;
}
.wrap .block .main .store-container .store-item {
  float: right;
  margin-bottom: 1rem;
}
.wrap .block .main .store-container .store-item:last-child {
  margin-bottom: 0;
}
.wrap .block .main .store-container .store-item label {
  display: flex;
  align-items: center;
}
.wrap .block .main .store-container .store-item label .radio-dress {
  width: 2rem;
  height: 2rem;
  border: 0.1rem solid transparent;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
}
.wrap .block .main .store-container .store-item label .radio-dress:after {
  content: " ";
  width: 1.3rem;
  height: 1.3rem;
  background: var(--main-color);
  border-radius: 50%;
  opacity: 0;
}
.wrap .block .main .store-container .store-item label .store-info {
  width: 20rem;
  border-radius: 0.6rem;
  border: 0.1rem solid transparent;
  padding: 1rem;
  flex-shrink: 0;
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
}
.wrap .block .main .store-container .store-item label .store-info .store-icon {
  width: 2rem;
  flex-shrink: 0;
}
.wrap .block .main .store-container .store-item label .store-info .store-icon img {
  width: 2rem;
}
.wrap .block .main .store-container .store-item label .store-info .store-text {
  flex-grow: 1;
  margin-left: 1rem;
}
.wrap .block .main .store-container .store-item label .store-info .store-text .store-name {
  font-size: 1.4rem;
  font-weight: 500;
}
.wrap .block .main .store-container .store-item label .store-info .store-text .store-address {
  font-size: 1.2rem;
  color: #999999;
}
.wrap .block .main .store-container .store-item .store-radio {
  display: none;
}
.wrap .block .main .store-container .store-item .store-radio:checked + label .radio-dress {
  border-color: var(--main-color);
}
.wrap .block .main .store-container .store-item .store-radio:checked + label .radio-dress:after {
  opacity: 1;
}
.wrap .block .main .store-container .store-item .store-radio:checked + label .store-info {
  border-color: var(--main-color);
}
.wrap .block .main .store-container .store-item .store-radio:checked + label .store-info .store-text .store-name {
  color: var(--main-color);
}
.wrap .block .main .store-container .store-item .store-radio:checked + label .store-info .store-text .store-address {
  color: #999;
}
.wrap .block .main .calc .list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.wrap .block .main .calc .list:nth-child(2) {
  color: #FF4C4C;
}
.wrap .block .main .calc .list .label .title {
  font-size: 1.4rem;
}
.wrap .block .main .calc .list .label .tag {
  font-size: 1.2rem;
  color: #999;
}
.wrap .block .main .calc .list .count {
  text-align: right;
}
.wrap .block .main .calc .list .count .price {
  font-size: 1.4rem;
}
.wrap .block .main .calc .list .count .discount {
  font-size: 1.2rem;
  color: #999;
  text-decoration: line-through;
}
.wrap .block .main .total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  border-top: 0.1rem solid #E6E6E6;
  padding-top: 01rem;
}
.wrap .block .main .total .label .title {
  font-size: 1.8rem;
}
.wrap .block .main .total .label .tag {
  font-size: 1.4rem;
  color: #000;
}
.wrap .block .main .total .count {
  text-align: right;
}
.wrap .block .main .total .count .price {
  font-size: 2rem;
}
.wrap .block .main .total .count .discount {
  font-size: 1.4rem;
  color: #FF4C4C;
}
.paying {
  /* background-color: #fff; */
  padding: 1.5rem;
  padding-bottom: 10rem;
}
.paying .product {
  margin-bottom: 1rem;
}
.paying .product .head {
  font-size: 1.6rem;
}
.paying .calc .list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.paying .calc .list .label .title {
  font-size: 1.4rem;
}
.paying .calc .list .label .tag {
  font-size: 1.2rem;
  color: #999;
}
.paying .calc .list .count {
  text-align: right;
}
.paying .calc .list .count .price {
  font-size: 1.4rem;
}
.paying .calc .list .count .discount {
  font-size: 1.2rem;
  color: #999;
  text-decoration: line-through;
}
.paying .total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  border-top: 0.1rem solid #E6E6E6;
  padding-top: 01rem;
}
.paying .total .label .title {
  font-size: 1.8rem;
}
.paying .total .label .tag {
  font-size: 1.4rem;
  color: #000;
}
.paying .total .count {
  text-align: right;
}
.paying .total .count .price {
  font-size: 2rem;
}
.paying .total .count .discount {
  font-size: 1.4rem;
  color: #FF4C4C;
}
.paying .conceal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 8rem;
}
.paying .conceal .item {
  padding: 1rem;
}
.paying .conceal .item .icon {
  width: 4.8rem;
  height: 4.8rem;
  background: var(--main-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paying .conceal .item .icon i {
  color: #fff;
}
.paying .conceal .item span {
  font-size: 1.3rem;
  margin-top: 0.5rem;
}
.paying .submit {
  width: 92%;
  height: 4.8rem;
  background: #8bb7a9;
  /* box-shadow: 0 0.2rem 0.6rem 0 rgba(0, 0, 0, 0.25); */
  /* border-radius: 0.6rem 0.6rem 2.3rem 2.3rem; */
  border-radius: 99rem;
  border: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  position: fixed;
  bottom: 1.4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  transition: all 0.3s;
}
.paying .act-sub {
  background: var(--main-color);
  bottom: 2.5rem;
}
