header .tips {
  display: none;
}
.goods-section {
  padding: 0 1.5rem;
  padding-bottom: 4rem;
}
.goods-section .card {
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 1.5rem;
}
.goods-section .card:first-child {
  background: none;
  padding: 0;
}
.goods-section .share {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}
.goods-section .share .sharetext {
  font-size: 1.4rem;
  font-weight: 500;
}
.goods-section .share .social {
  display: flex;
}
.goods-section .share .social .social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  margin: 0 10px;
  border-radius: 8px;
  padding: 8px;
  color: var(--main-color);
  transition: all 0.3s ease-in-out;
  font-size: 20px;
  cursor: pointer;
}
.goods-section .share .social .social-icon:hover {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  transform: scale(1.2);
}
.goods-section .goods .atlas {
  flex-shrink: 0;
  display: flex;
}
.goods-section .goods .atlas .cover-wrap {
  /* width: 19rem;
                height: 19rem;
                background-color: var(--seize-color); */
  margin-bottom: 0.6rem;
  margin-right: 1rem;
}
.goods-section .goods .atlas .cover-wrap img {
  width: 100%;
  height: 100%;
}
.goods-section .goods .atlas .thumbnail {
  margin-top: 1rem;
}
.goods-section .goods .atlas .thumbnail .item {
  width: 6rem;
  height: 6rem;
  /* background-color: var(--seize-color); */
  margin-bottom: 0.4rem;
}
.goods-section .goods .atlas .thumbnail .item.active {
  border: 0.12rem solid var(--main-color);
  border-radius: 0.4rem;
}
.goods-section .goods .atlas .thumbnail .item.active img {
  transform: scale(0.9);
  transform-origin: center;
}
.goods-section .goods .atlas .thumbnail .item img {
  transition: all 0.3s;
  width: 100%;
  height: 100%;
}
.goods-section .goods .info {
  flex-grow: 1;
}
.goods-section .goods .info .name-wrap {
  /* display: flex;
                align-items: center; */
  margin-bottom: 1rem;
}
.goods-section .goods .info .name-wrap .label {
  margin-top: 0.4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}
.goods-section .goods .info .name-wrap .label .label-item {
  border: 1.5px solid #e82121;
  border-radius: 4px;
  padding: 0.1rem 0.5rem;
  font-size: 1.1rem;
  color: #e82121;
  font-weight: 500;
}
.goods-section .goods .info .name-wrap h1 {
  font-size: 1.8rem;
  font-weight: bold;
}
.goods-section .goods .info .attrs {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 0.8rem;
}
.goods-section .goods .info .attrs dl {
  display: flex;
  line-height: 1.8;
}
.goods-section .goods .info .views {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0.6rem;
  color: var(--main-color);
}
.goods-section .goods .info .views .view {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  /* opacity: 0.5; */
}
.goods-section .goods .info .views .view i {
  margin-right: 0.4rem;
  font-size: 0.8rem;
}
.goods-section .goods .info .views .comment {
  display: flex;
  align-items: flex-end;
  font-size: 1.2rem;
  font-weight: 500;
  /* opacity: 0.5; */
}
.goods-section .goods .info .views .comment i {
  margin-left: 0.2rem;
  font-size: 1.7rem;
  line-height: 1;
}
.goods-section .goods .info .prices .market {
  font-size: 1.2rem;
  text-decoration: line-through;
  font-weight: 500;
  opacity: 0.6;
}
.goods-section .goods .info .prices .now {
  display: flex;
  align-items: center;
}
.goods-section .goods .info .prices .now .lab {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.4rem;
  font-size: 1.1rem;
  padding: 0.2rem 0.6rem;
  color: #FFF;
  background-color: #e82121;
  font-weight: bold;
  border-radius: 0.4rem;
}
.goods-section .goods .info .prices .now .sp {
  font-size: 1.8rem;
  color: #e82121;
  font-weight: bold;
}
.goods-section .goods .info .g-countdown {
  width: 100%;
  height: 50px;
  background-color: var(--seize-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.goods-section .goods .info .prescription {
  width: 100%;
  font-size: 1.4rem;
  color: #000000;
  margin-bottom: 2rem;
}
.goods-section .goods .info .sales {
  /* margin-top: 8px;
                margin-bottom: 28px; */
  display: flex;
  align-items: center;
}
.goods-section .goods .info .sales .panic {
  width: 50%;
  flex-shrink: 0;
  font-size: 1.4rem;
  font-weight: 500;
}
.goods-section .goods .info .sales .order-logs {
  font-size: 1.1rem;
  flex-grow: 1;
  height: 2.3rem;
  overflow: hidden;
  font-weight: 500;
}
.goods-section .goods .info .sales .order-logs .ol {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 1.2rem;
  background-color: rgba(255, 255, 255, 0.3);
  color: #24b700;
  border-radius: 0.5rem;
}
.goods-section .goods .info .place {
  width: 100%;
  margin-bottom: 28px;
}
.goods-section .goods .info .place a {
  width: 100%;
  height: 53px;
  background-color: var(--seize-color);
  text-align: center;
  line-height: 53px;
  display: block;
  border-radius: 27px;
}
.goods-section .goods .info .ensures {
  /* display: flex;
                align-items: center;
                justify-content: space-between; */
}
.goods-section .goods .info .ensures .icons {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.goods-section .goods .info .ensures .icons:last-child {
  margin-bottom: 0;
}
.goods-section .goods .info .ensures .ioc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.goods-section .goods .info .ensures .ioc i {
  font-size: 2rem;
  color: #00ae04;
  margin-right: 0.4rem;
}
.goods-section .goods .info .ensures span {
  color: #000000;
  font-weight: 500;
}
.goods-section .delivery .title {
  font-size: 1.6rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem solid #8bb7a9;
  font-weight: 500;
}
.goods-section .delivery .content {
  font-size: 1.3rem;
  line-height: 1.6;
  padding: 0 1rem;
  /* .col{
                &:first-child{
                    margin-bottom: 3rem;
                }
            } */
}
.goods-section .delivery .content .label {
  margin-bottom: 8px;
}
.goods-section .programme .goods-discount .item {
  border-bottom: 0.1rem solid #8bb7a9;
  padding-bottom: 1.6rem;
  margin-bottom: 1.6rem;
}
.goods-section .programme .goods-discount .item:last-child {
  margin-bottom: 0;
}
.goods-section .programme .goods-discount .item .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.goods-section .programme .goods-discount .item .info .title {
  font-size: 1.4rem;
  width: 20rem;
  margin-bottom: 0;
  border: none;
  padding: 0;
  flex-shrink: 0;
}
.goods-section .programme .goods-discount .item .info .choice {
  width: 10rem;
  height: 4.4rem;
  background: #d72525;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.3rem;
  border-radius: 0.8rem;
}
.goods-section .programme .goods-discount .item .prices {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #F0F0F0;
  padding: 1.1rem;
  font-size: 1.3rem;
  border-radius: 0.8rem;
  position: relative;
}
.goods-section .programme .goods-discount .item .prices .le {
  position: relative;
  z-index: 2;
}
.goods-section .programme .goods-discount .item .prices:after {
  content: "";
  position: absolute;
  right: 2rem;
  top: -1.4rem;
  z-index: 0;
  border-left: 3rem solid transparent;
  border-right: 3rem solid transparent;
  border-bottom: 3.5rem solid #F0F0F0;
}
.goods-section .programme table {
  width: 100%;
  text-align: left;
  text-wrap: nowrap;
}
.goods-section .programme table thead {
  border-bottom: 1px solid #8bb7a9;
  font-weight: 500;
  font-size: 1.4rem;
}
.goods-section .programme table thead tr {
  height: 4rem;
}
.goods-section .programme table thead th {
  font-weight: 500;
}
.goods-section .programme table thead th:nth-child(2) {
  text-align: center;
}
.goods-section .programme table tbody tr {
  height: 7.2rem;
  border-bottom: 1px solid #8bb7a9;
  font-weight: 500;
  font-size: 1.4rem;
}
.goods-section .programme table tbody tr:last-child {
  border-bottom: none;
}
.goods-section .programme table tbody tr:first-child td:nth-child(2) a {
  display: none;
}
.goods-section .programme table tbody tr:nth-child(2) td:nth-child(2) p {
  margin-top: 1.4rem;
}
.goods-section .programme table tbody td:nth-child(2) {
  text-align: center;
  letter-spacing: 0;
}
.goods-section .programme table tbody .sp {
  font-size: 1.5rem;
  color: #e82121;
  font-weight: bold;
  letter-spacing: 0;
}
.goods-section .programme table tbody .market {
  font-size: 1.2rem;
  text-decoration: line-through;
  font-weight: 500;
  letter-spacing: 0;
  color: #999;
  margin-left: 0.6rem;
}
.goods-section .programme table .choice {
  width: 100%;
  height: 3rem;
  background-color: var(--main-color);
  border-radius: 17px;
  color: #f6d776;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0 1.6rem;
  margin-top: 0.3rem;
}
.goods-section .title {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  border-bottom: 0.1rem solid #8bb7a9;
  padding-bottom: 1rem;
  font-weight: 500;
}
.goods-section .comment-box {
  margin-top: 10px;
}
@media screen and (max-width: 1024px) {
  .goods-section .comment-box {
    margin-top: 30px;
  }
}
.goods-section .comment-box .comment .stars {
  display: flex;
  align-items: center;
  justify-content: center;
}
.goods-section .comment-box .comment .stars i {
  font-size: 18px;
  margin-right: 2px;
  color: var(--main-color);
}
.goods-section .comment-box .comment .stars.pointer i {
  cursor: pointer;
}
.goods-section .comment-box .comment .widg {
  /* margin-bottom: 40px; */
}
.goods-section .comment-box .comment .widg .amount-wrap {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 1024px) {
  .goods-section .comment-box .comment .widg .amount-wrap {
    flex-direction: column;
  }
}
.goods-section .comment-box .comment .widg .amount-wrap .total-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.goods-section .comment-box .comment .widg .amount-wrap .total-box .total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.goods-section .comment-box .comment .widg .amount-wrap .total-box .total .score-desc {
  font-size: 14px;
}
.goods-section .comment-box .comment .widg .amount-wrap .total-box .total .score {
  font-size: 4.4rem;
  color: var(--main-color);
  line-height: 4.4rem;
  font-weight: 500;
}
.goods-section .comment-box .comment .widg .amount-wrap .total-box .total .score .all {
  font-size: 2.4rem;
}
.goods-section .comment-box .comment .widg .amount-wrap .total-box .total .text {
  font-size: 14px;
  margin-top: 10px;
}
.goods-section .comment-box .comment .widg .amount-wrap .total-box .total .stars i {
  font-size: 1.8rem;
}
.goods-section .comment-box .comment .widg .amount-wrap .total-box .total .stars i:last-child {
  margin-right: 0;
}
.goods-section .comment-box .comment .widg .amount-wrap .total-box .histogram .row {
  display: flex;
  align-items: center;
  margin: 0.6rem 0;
}
.goods-section .comment-box .comment .widg .amount-wrap .total-box .histogram .row .stars {
  margin: 0 0.6rem;
}
.goods-section .comment-box .comment .widg .amount-wrap .total-box .histogram .row .stars i {
  font-size: 1.3rem;
}
.goods-section .comment-box .comment .widg .amount-wrap .total-box .histogram .row .bar {
  width: 100%;
  height: 8px;
  margin-left: 0.1rem;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.15);
  overflow: hidden;
  min-width: 70px;
}
.goods-section .comment-box .comment .widg .amount-wrap .total-box .histogram .row .bar .progress {
  width: 0;
  height: 100%;
  background-color: var(--main-color);
  display: block;
}
.goods-section .comment-box .comment .widg .amount-wrap .total-box .histogram .row .percentage,
.goods-section .comment-box .comment .widg .amount-wrap .total-box .histogram .row .frequency {
  font-size: 12px;
  text-align: left;
}
.goods-section .comment-box .comment .widg .amount-wrap .label-sec {
  flex: 1;
}
.goods-section .comment-box .comment .widg .amount-wrap .label-sec .label-box {
  display: flex;
  width: 100%;
  gap: 10px;
  margin-left: 10px;
  flex-wrap: wrap;
  flex: 1;
}
@media screen and (max-width: 1024px) {
  .goods-section .comment-box .comment .widg .amount-wrap .label-sec .label-box {
    margin-left: 0;
    padding: 0 10px;
  }
}
.goods-section .comment-box .comment .widg .amount-wrap .label-sec .label-box .label {
  font-size: 13px;
  /* background-color: #ffe8d3; */
  background-color: #f5f5f5;
  border-radius: 0.3rem;
  text-align: center;
  padding: 4px 12px;
  /* border: 1px solid #ffd2a9; */
}
.goods-section .comment-box .comment .widg .amount-wrap .write-wrap {
  opacity: 0;
  height: 0;
  transition: all 0.2s ease-in;
  overflow: hidden;
}
.goods-section .comment-box .comment .widg .amount-wrap .write-wrap .form-group {
  margin-bottom: 20px;
}
.goods-section .comment-box .comment .widg .amount-wrap .write-wrap .form-group input {
  appearance: none;
  -webkit-appearance: none;
}
.goods-section .comment-box .comment .widg .amount-wrap .write-wrap .form-group .lab {
  font-size: 14px;
  margin-bottom: 8px;
  white-space: nowrap;
}
.goods-section .comment-box .comment .widg .amount-wrap .write-wrap .form-group .stars {
  justify-content: flex-start;
}
.goods-section .comment-box .comment .widg .amount-wrap .write-wrap .form-group .form-control {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  width: 100%;
  padding: 12px 40px 12px;
  outline: 0;
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  border-radius: 99px;
  font-size: 0.3rem;
  letter-spacing: 0.5px;
  transition: all 0.3s;
}
.goods-section .comment-box .comment .widg .amount-wrap .write-wrap textarea {
  width: 100%;
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px !important;
  padding: 16px 20px !important;
  box-sizing: border-box;
  outline: none;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.2);
  font-family: "YaHei Consolas Hybrid", Consolas, "微软雅黑", "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica, Monaco, courier, monospace;
  font-size: 0.3rem;
  letter-spacing: 0.5px;
  height: 100px !important;
}
.goods-section .comment-box .comment .widg .amount-wrap .write-wrap .submit-btn {
  width: 50%;
  height: 48px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  border: none;
  border-radius: 99px;
  letter-spacing: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
  cursor: pointer;
  font-size: 16px;
  margin: 0 auto;
}
.goods-section .comment-box .comment .widg .amount-wrap .write-wrap .submit-btn:hover {
  letter-spacing: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}
.goods-section .comment-box .comment .widg .amount-wrap .write-wrap.-show {
  opacity: 1;
  border-top: 1px solid #eee;
  padding: 0.5rem 0.2rem 0;
  height: 392px;
}
.goods-section .comment-box .comment .widg .amount-wrap .actions {
  margin: 0 auto;
  width: 50%;
  transition: all 0.3s;
}
.goods-section .comment-box .comment .widg .amount-wrap .actions .write-btn {
  width: 100%;
  height: 48px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  border-radius: 99px;
  letter-spacing: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
  cursor: pointer;
  font-size: 0.3rem;
}
.goods-section .comment-box .comment .widg .amount-wrap .actions .write-btn .writeicon {
  width: 0.3rem;
  height: 0.3rem;
  fill: #FFF;
  margin: 2px 0 0 6px;
}
.goods-section .comment-box .comment .widg .amount-wrap .actions:hover .write-btn {
  letter-spacing: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}
.goods-section .comment-box .comment .widg .amount-wrap .actions .write-cancel {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  text-align: center;
  height: 36px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}
.goods-section .comment-box .comment .widg .amount-wrap .actions .write-cancel:hover {
  color: rgba(255, 255, 255, 0.9);
}
.goods-section .comment-box .comment .history {
  /* .title{
                    font-size: 20px;
                    font-weight: 500;
                    border-left: 4px solid #FFF;
                    padding-left: 10px;
                } */
}
.goods-section .comment-box .comment .history .label-sec {
  width: 100%;
  margin: 2rem 0 3rem;
  overflow: hidden;
  position: relative;
}
.goods-section .comment-box .comment .history .label-sec:before {
  content: "";
  display: block;
  height: 100%;
  width: 10%;
  background: linear-gradient(90deg, #fff6ed, rgba(255, 255, 255, 0));
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.goods-section .comment-box .comment .history .label-sec:after {
  content: "";
  display: block;
  height: 100%;
  width: 10%;
  background: linear-gradient(-90deg, #fff6ed, rgba(255, 255, 255, 0));
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.goods-section .comment-box .comment .history .label-sec .label-loop {
  display: flex;
  white-space: nowrap;
  margin-top: 0.6rem;
  width: 600%;
}
@keyframes loop {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
.goods-section .comment-box .comment .history .label-sec .label-loop:nth-child(1) {
  animation: loop 30s linear infinite;
  margin-top: 0;
}
.goods-section .comment-box .comment .history .label-sec .label-loop:nth-child(2) {
  animation: loop 50s linear infinite;
}
.goods-section .comment-box .comment .history .label-sec .label-loop:nth-child(3) {
  animation: loop 20s linear infinite;
}
.goods-section .comment-box .comment .history .label-sec .label-loop .label-box {
  display: flex;
  width: 300%;
  gap: 10px;
  margin-left: 10px;
}
.goods-section .comment-box .comment .history .label-sec .label-loop .label-box .label {
  width: 100%;
  font-size: 13px;
  font-weight: 500;
  /* background-color: #ffe8d3; */
  background-color: #fdefe2;
  border-radius: 0.6rem;
  text-align: center;
  padding: 0.6rem 0;
  color: #e87c1a;
  /* border: 1px solid #ffd2a9; */
}
.goods-section .comment-box .comment .history .reviews {
  position: relative;
}
.goods-section .comment-box .comment .history .reviews .loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
}
.goods-section .comment-box .comment .history .reviews .loading img {
  width: 20%;
}
.goods-section .comment-box .comment .history .reviews .loading.active {
  display: flex;
}
.goods-section .comment-box .comment .history .reviews .rev {
  border-bottom: 1px solid #8bb7a9;
  padding: 2rem 0;
}
.goods-section .comment-box .comment .history .reviews .rev:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}
.goods-section .comment-box .comment .history .reviews .rev .like-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.goods-section .comment-box .comment .history .reviews .rev .like-box .doyou {
  font-size: 12px;
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
}
.goods-section .comment-box .comment .history .reviews .rev .like-box .up {
  width: 1.4rem;
  height: 1.4rem;
}
.goods-section .comment-box .comment .history .reviews .rev .like-box .up-num {
  font-size: 12px;
  font-weight: 500;
}
.goods-section .comment-box .comment .history .reviews .rev .name-box {
  display: flex;
  justify-content: space-between;
}
.goods-section .comment-box .comment .history .reviews .rev .name-box .nickname {
  font-size: 14px;
  display: flex;
  align-items: center;
}
.goods-section .comment-box .comment .history .reviews .rev .name-box .nickname .fans {
  color: #ffbf04;
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 4px;
  background: linear-gradient(135deg, #737373, #000000);
}
.goods-section .comment-box .comment .history .reviews .rev .name-box .nickname .new {
  color: #fffd4f;
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 4px;
  background: linear-gradient(135deg, #00f892, #00ce48);
}
.goods-section .comment-box .comment .history .reviews .rev .name-box .star-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.14rem;
}
.goods-section .comment-box .comment .history .reviews .rev .name-box .star-box i {
  font-size: 14px;
  margin-right: 3px;
}
.goods-section .comment-box .comment .history .reviews .rev .name-box .star-box i:last-child {
  margin-right: 0;
}
.goods-section .comment-box .comment .history .reviews .rev .name-box .star-box .date {
  font-size: 14px;
}
.goods-section .comment-box .comment .history .reviews .rev .name-box .today {
  font-size: 12px;
}
.goods-section .comment-box .comment .history .reviews .rev .star-box {
  margin: 0.6rem 0 1.6rem;
}
.goods-section .comment-box .comment .history .reviews .rev .star-box .row {
  display: flex;
  align-items: center;
}
.goods-section .comment-box .comment .history .reviews .rev .star-box .row i {
  font-size: 1.3rem;
}
.goods-section .comment-box .comment .history .reviews .rev .star-box .row .frequency {
  font-size: 1.2rem;
  margin-right: 0.4rem;
}
.goods-section .comment-box .comment .history .reviews .rev .buy-text {
  font-size: 1.2rem;
  border-left: 0.1rem solid var(--main-color);
  margin-left: 1.4rem;
  padding-left: 1.4rem;
}
.goods-section .comment-box .comment .history .reviews .rev .content {
  font-size: 1.4rem;
}
.goods-section .comment-box .comment .history .reviews .rev .content-pic {
  height: 120px;
  width: auto;
  border-radius: 0.6rem;
  margin-top: 1rem;
}
.goods-section .comment-box .comment .history .paging {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 14px;
  color: #000;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 30px;
}
.goods-section .comment-box .comment .history .paging .prev {
  width: 28px;
  height: 28px;
  background-color: transparent;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}
.goods-section .comment-box .comment .history .paging .prev .previcon {
  width: 18px;
  height: 18px;
  transform: translate(-50%, -50%) scaleX(-1);
  position: absolute;
  top: 52%;
  left: 48%;
  fill: #000;
}
.goods-section .comment-box .comment .history .paging .prev:hover {
  background-color: #000;
}
.goods-section .comment-box .comment .history .paging .prev:hover .previcon {
  fill: #FFF;
}
.goods-section .comment-box .comment .history .paging .disabled {
  opacity: 0.1;
}
.goods-section .comment-box .comment .history .paging .active {
  transform: scale(1.2);
  border-bottom: 1px solid #000;
  transition: all 0.3s;
}
.goods-section .comment-box .comment .history .paging .active:hover {
  color: var(--main-color);
}
.goods-section .comment-box .comment .history .paging .next {
  width: 28px;
  height: 28px;
  background-color: transparent;
  border-radius: 50%;
  position: relative;
  transition: all 0.3s;
}
.goods-section .comment-box .comment .history .paging .next .nexticon {
  width: 18px;
  height: 18px;
  fill: #000;
  position: absolute;
  top: 52%;
  left: 52%;
  transform: translate(-50%, -50%);
}
.goods-section .comment-box .comment .history .paging .next:hover {
  background-color: #000;
}
.goods-section .comment-box .comment .history .paging .next:hover .nexticon {
  fill: #FFF;
}
.goods-section .comment-box .comment .history .lord-more {
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 12px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  width: 50%;
  border-radius: 99px;
  transition: all 0.3s;
}
.goods-section .comment-box .comment .history .lord-more:active {
  border: 2px solid rgba(255, 255, 255, 0.9);
  letter-spacing: 3px;
}
.goods-section .comment-box .comment .history .switch {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 30px;
}
.goods-section .comment-box .comment .history .switch .prev,
.goods-section .comment-box .comment .history .switch .next {
  width: 50%;
  text-align: center;
  font-size: 14px;
  padding: 10px 0;
  border-radius: 0.6rem;
  color: #FFF;
  background-color: var(--main-color);
}
.goods-section .comment-box .comment .history .switch .disabled {
  display: none;
}
.goods-section .final .instructions .title {
  border: none;
  margin-bottom: 0;
}
.goods-section .final .instructions .present {
  border: 1px solid #8bb7a9;
  border-radius: 1rem;
  overflow: hidden;
}
.goods-section .final .instructions .present .ls {
  display: flex;
  align-items: center;
  position: relative;
}
.goods-section .final .instructions .present .ls:last-child:after {
  display: none;
}
.goods-section .final .instructions .present .ls:after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #8bb7a9;
  position: absolute;
  bottom: 0;
  left: 0;
}
.goods-section .final .instructions .present .ls .s1 {
  width: 8rem;
  background-color: #d0e7da;
  text-align: center;
  flex-shrink: 0;
  height: 100%;
  font-weight: 500;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
}
.goods-section .final .instructions .present .ls .s2 {
  font-size: 1.2rem;
  padding: 1rem 1rem 1rem 9.5rem;
  flex-grow: 1;
}
.goods-section .after-sale {
  margin-top: 4rem;
  font-size: 1.6rem;
}
.goods-section .gallery {
  /*margin-top: 2rem;*/
  padding-bottom: 4rem;
}
.goods-section .gallery img {
  width: 100%;
  margin-bottom: 1rem;
}
/* .g-tips{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    .text{
        font-size: 1.3rem;
        margin-right: 1.4rem;
    }
} */
.footer-shopping {
  position: fixed;
  bottom: 1.4rem;
  width: 100%;
  /* background-color: #fff;
    box-shadow: 0 0 1rem 0 rgb(0 0 0 / 14%); */
  z-index: 9;
  /* height: 6.8rem; */
  /* display: flex;
    align-items: center;
    justify-content: space-around; */
  /* padding: 1rem 2rem 1.6rem; */
}
.footer-shopping .sp {
  font-size: 1.7rem;
  color: #ffd759;
  font-weight: bold;
  line-height: 1;
}
.footer-shopping .go-shop {
  width: 85%;
  background-color: var(--main-color);
  color: #fff;
  display: flex;
  height: 5.2rem;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 3.2rem;
  margin: 0 auto;
  border: 0.2rem solid #f7d776;
}
.footer-shopping .go-shop .market {
  font-size: 1.1rem;
  text-decoration: line-through;
  font-weight: 500;
  opacity: 0.6;
}
.footer-shopping .go-shop .now {
  display: flex;
  align-items: center;
}
.footer-shopping .go-shop .now .lab {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.4rem;
  font-size: 1rem;
  padding: 0rem 0.4rem;
  color: #eb0505;
  background-color: #ffd859;
  font-weight: bold;
  border-radius: 0.4rem;
}
.footer-shopping .go-shop .b-row {
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  color: #ffd759;
}
footer {
  padding: 3rem 0 10rem;
}
