.product-section .title {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
  /* margin-top: 1rem; */
  text-align: center;
}
.product-section .main {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.product-section .main .goods {
  margin-bottom: 4rem;
}
.product-section .main .goods .info {
  text-align: center;
  /* width: 34rem;
                margin: 0 auto;
                padding: 1rem; */
  /* background: #FFFFFF; */
}
.product-section .main .goods .info .goods-img {
  /* width: 28rem;
                    height: 28rem;
                    margin: 0 auto; */
}
.product-section .main .goods .info .goods-img img {
  width: 100%;
  height: 100%;
}
.product-section .main .goods .info .boa {
  padding: 0.6rem 0 0;
}
.product-section .main .goods .info .boa .title {
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
}
.product-section .main .goods .info .boa .brief {
  font-size: 1.3rem;
  margin-bottom: 1.2rem;
  color: #999;
}
.product-section .main .goods .info .boa .label {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.4rem;
}
.product-section .main .goods .info .boa .label .label-item {
  border: 0.15rem solid #ff4e4e;
  border-radius: 0.4rem;
  padding: 0.1rem 0.5rem;
  font-size: 1.1rem;
  color: #ff4e4e;
  font-weight: 500;
}
.product-section .main .goods .info .boa .pricebox {
  /* display: flex;
                        align-items: center;
                        justify-content: space-between; */
}
.product-section .main .goods .info .boa .pricebox .price {
  text-align: center;
  margin-top: 1rem;
}
.product-section .main .goods .info .boa .pricebox .price .market {
  text-decoration: line-through;
  font-size: 1.3rem;
}
.product-section .main .goods .info .boa .pricebox .price .now {
  font-size: 1.6rem;
  font-weight: 500;
  color: #ff4e4e;
}
.product-section .main .goods .info .boa .pricebox .go-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 99px;
  background-color: var(--main-color);
  font-size: 1.5rem;
  padding: 1.2rem 0;
  color: #f6d776;
  font-weight: 500;
  margin-top: 0.6rem;
  transition: all 0.3s;
}
.product-section .main .goods .info .boa .pricebox .go-btn i {
  margin-left: 1rem;
}
.product-description {
  padding: 0 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  overflow-wrap: break-word;
}
.product-description .description-warp {
  background-color: var(--main-color);
  border-radius: 1.5rem;
  color: #ffffff;
  padding: 1rem;
  line-height: 1.6;
  font-size: 1.4rem;
}
