.breadcrumb {
  padding: 8px 60px;
}
.goods-section .card {
  max-width: 1080px;
  background: rgba(255, 255, 255, 0.3);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 20px;
  /* &:first-child{
            background: none;
        } */
}
.goods-section .views {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
  color: var(--main-color);
}
.goods-section .views .view {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  /* opacity: 0.5; */
}
.goods-section .views .view i {
  margin-right: 4px;
  font-size: 10px;
}
.goods-section .views .comment {
  display: flex;
  align-items: flex-end;
  font-size: 14px;
  font-weight: 500;
  /* opacity: 0.5; */
  letter-spacing: 0;
}
.goods-section .views .comment i {
  margin-left: 4px;
  font-size: 18px;
  line-height: 1;
}
.goods-section .share {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.goods-section .share .sharetext {
  font-size: 14px;
  font-weight: 500;
}
.goods-section .share .social {
  display: flex;
}
.goods-section .share .social .social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  margin: 0 10px;
  border-radius: 8px;
  padding: 8px;
  color: var(--main-color);
  transition: all 0.3s ease-in-out;
  font-size: 24px;
  cursor: pointer;
}
.goods-section .share .social .social-icon:hover {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  transform: scale(1.2);
}
.goods-section .goods {
  margin-top: 10px;
  display: flex;
  gap: 80px;
}
.goods-section .goods .atlas {
  display: flex;
}
.goods-section .goods .atlas .cover-wrap {
  width: 420px;
  height: 420px;
  background-color: var(--seize-color);
  margin-bottom: 16px;
}
.goods-section .goods .atlas .cover-wrap img {
  width: 100%;
  height: 100%;
}
.goods-section .goods .atlas .thumbnail {
  margin-right: 10px;
  padding-top: 14px;
}
.goods-section .goods .atlas .thumbnail .item {
  width: 67px;
  height: 67px;
  margin-bottom: 10px;
  background-color: var(--seize-color);
}
.goods-section .goods .atlas .thumbnail .item.active {
  border: 1px solid var(--main-color);
}
.goods-section .goods .atlas .thumbnail .item img {
  width: 100%;
  height: 100%;
}
.goods-section .goods .info {
  flex-grow: 1;
}
.goods-section .goods .info .name-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.goods-section .goods .info .name-wrap .title {
  font-size: 28px;
  font-weight: bold;
}
.goods-section .goods .info .label .label-item {
  border: 1.5px solid #e82121;
  border-radius: 4px;
  padding: 2px 8px;
  font-size: 12px;
  color: #e82121;
  font-weight: 500;
}
.goods-section .goods .info .attrs {
  font-size: 14px;
  font-weight: 100;
  margin: 30px 0;
}
.goods-section .goods .info .attrs dl {
  display: flex;
  line-height: 1.8;
}
.goods-section .goods .info .prices {
  /* display: flex;
                align-items: center; */
  margin: 20px 0;
  letter-spacing: 0;
}
.goods-section .goods .info .prices .market {
  font-size: 16px;
  text-decoration: line-through;
  font-weight: 100;
}
.goods-section .goods .info .prices .now {
  display: flex;
  align-items: center;
}
.goods-section .goods .info .prices .now .lab {
  /* width: 86px;
                        height: 25px;
                        border: 2px solid #e82121; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 6px;
  font-weight: bold;
  background-color: #e82121;
  color: #FFF;
}
.goods-section .goods .info .prices .now .sp {
  font-size: 24px;
  color: #e82121;
  font-weight: bold;
}
.goods-section .goods .info .g-countdown {
  width: 100%;
  height: 50px;
  background-color: #fff5d7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  color: #ac7707;
  border-radius: 5px;
}
.goods-section .goods .info .prescription {
  width: 100%;
  height: 21px;
  font-size: 16px;
  color: #000000;
  line-height: 21px;
}
.goods-section .goods .info .sales {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.goods-section .goods .info .sales .panic {
  width: 150px;
  flex-shrink: 0;
  font-weight: 500;
  display: flex;
  font-size: 15px;
}
.goods-section .goods .info .sales .swiper-slide:nth-child(odd) {
  opacity: 0;
}
.goods-section .goods .info .sales .order-logs {
  margin-left: 23px;
  font-size: 14px;
  width: 240px;
  height: 26.5px;
  overflow: hidden;
}
.goods-section .goods .info .sales .order-logs .ol {
  display: flex;
  justify-content: space-between;
  padding: 4px 12px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #00af02;
  border-radius: 5px;
  font-weight: 500;
}
.goods-section .goods .info .place {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 99px;
  background-color: var(--main-color);
  font-size: 16px;
  padding: 16px 0;
  color: #f6d776;
  font-weight: 500;
  margin: 20px 0 30px;
  transition: all 0.3s;
}
.goods-section .goods .info .place i {
  margin-left: 10px;
}
.goods-section .goods .info .ensures {
  /* display: flex;
                align-items: center;
                justify-content: space-between; */
  padding: 20px;
}
.goods-section .goods .info .ensures .icons {
  display: flex;
  align-items: center;
  font-size: 14px;
  justify-content: space-between;
  margin-bottom: 10px;
}
.goods-section .goods .info .ensures .icons:last-child {
  margin-bottom: 0;
}
.goods-section .goods .info .ensures .ioc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.goods-section .goods .info .ensures .ioc i {
  font-size: 24px;
  color: #00ae04;
  margin-right: 0.4rem;
}
.goods-section .goods .info .ensures span {
  color: #000000;
  font-weight: 500;
}
.goods-section .delivery {
  padding: 30px 40px 40px;
}
.goods-section .delivery .title {
  font-size: 16px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #8bb7a9;
  font-weight: bold;
}
.goods-section .delivery .content {
  font-size: 14px;
  line-height: 1.6;
  padding: 0 20px;
  /* .col{
                &:last-child{
                    margin-left: 200px;
                }
            } */
}
.goods-section .delivery .content .label {
  margin-bottom: 8px;
}
.goods-section .programme {
  padding: 10px 20px;
}
.goods-section .programme .title {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
}
.goods-section .programme table {
  width: 100%;
  text-align: left;
  text-wrap: nowrap;
}
.goods-section .programme table thead {
  border-bottom: 1px solid #8bb7a9;
  font-weight: 500;
}
.goods-section .programme table thead tr {
  height: 48px;
}
.goods-section .programme table thead th {
  font-weight: 500;
}
.goods-section .programme table thead th:nth-child(2) {
  text-align: center;
}
.goods-section .programme table tbody tr {
  height: 72px;
  border-bottom: 1px solid #8bb7a9;
  font-weight: 500;
  font-size: 15px;
}
.goods-section .programme table tbody tr:last-child {
  border-bottom: none;
}
.goods-section .programme table tbody tr:first-child td:nth-child(3) {
  display: none;
}
.goods-section .programme table tbody td:nth-child(2) {
  text-align: center;
  letter-spacing: 0;
}
.goods-section .programme table tbody .sp {
  font-size: 16px;
  color: #e82121;
  font-weight: bold;
  letter-spacing: 0;
}
.goods-section .programme table tbody .market {
  font-size: 13px;
  text-decoration: line-through;
  font-weight: 500;
  letter-spacing: 0;
  color: #999;
  margin-left: 4px;
}
.goods-section .programme table .choice {
  width: 100%;
  height: 34px;
  background-color: var(--main-color);
  border-radius: 17px;
  color: #f6d776;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  padding: 0 6px;
}
.goods-section .comments {
  padding: 30px 40px 40px;
}
.goods-section .comments .title {
  font-size: 16px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #8bb7a9;
  font-weight: bold;
}
.goods-section .comments .comment-box {
  margin-top: 10px;
}
@media screen and (max-width: 1024px) {
  .goods-section .comments .comment-box {
    margin-top: 30px;
  }
}
.goods-section .comments .comment-box .comment {
  padding: 0 20px;
}
.goods-section .comments .comment-box .comment .stars {
  display: flex;
  align-items: center;
  justify-content: center;
}
.goods-section .comments .comment-box .comment .stars i {
  font-size: 18px;
  margin-right: 1px;
  color: var(--main-color);
}
.goods-section .comments .comment-box .comment .stars.pointer i {
  cursor: pointer;
}
.goods-section .comments .comment-box .comment .widg {
  margin-bottom: 40px;
}
.goods-section .comments .comment-box .comment .widg .amount-wrap .total-box {
  display: flex;
  flex: 1;
  align-items: flex-start;
}
.goods-section .comments .comment-box .comment .widg .amount-wrap .total-box .total {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .goods-section .comments .comment-box .comment .widg .amount-wrap .total-box .total {
    padding: 0 20px 0 10px;
  }
}
.goods-section .comments .comment-box .comment .widg .amount-wrap .total-box .total .score-desc {
  font-size: 14px;
}
.goods-section .comments .comment-box .comment .widg .amount-wrap .total-box .total .score {
  font-size: 44px;
  color: var(--main-color);
  /* line-height: 56px; */
  font-weight: 500;
}
.goods-section .comments .comment-box .comment .widg .amount-wrap .total-box .total .score .all {
  font-size: 24px;
}
.goods-section .comments .comment-box .comment .widg .amount-wrap .total-box .total .text {
  font-size: 14px;
  margin-top: 10px;
}
.goods-section .comments .comment-box .comment .widg .amount-wrap .total-box .total .stars i {
  font-size: 20px;
}
.goods-section .comments .comment-box .comment .widg .amount-wrap .total-box .total .stars i:last-child {
  margin-right: 0;
}
.goods-section .comments .comment-box .comment .widg .amount-wrap .total-box .histogram .row {
  display: flex;
  align-items: center;
  /* height: 22px;
                                    grid-template-columns: 1fr 2fr 0.5fr 1fr; */
  margin: 10px 0;
}
.goods-section .comments .comment-box .comment .widg .amount-wrap .total-box .histogram .row .stars {
  margin: 0 10px;
}
.goods-section .comments .comment-box .comment .widg .amount-wrap .total-box .histogram .row .stars i {
  font-size: 14px;
}
.goods-section .comments .comment-box .comment .widg .amount-wrap .total-box .histogram .row .bar {
  width: 100%;
  height: 8px;
  margin-left: 0.1rem;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.15);
  overflow: hidden;
  min-width: 70px;
}
.goods-section .comments .comment-box .comment .widg .amount-wrap .total-box .histogram .row .bar .progress {
  width: 0;
  height: 100%;
  background-color: var(--main-color);
  display: block;
}
.goods-section .comments .comment-box .comment .widg .amount-wrap .total-box .histogram .row .percentage,
.goods-section .comments .comment-box .comment .widg .amount-wrap .total-box .histogram .row .frequency {
  font-size: 12px;
  /* margin-left: 6px; */
  text-align: left;
  font-weight: 500;
}
.goods-section .comments .comment-box .comment .widg .amount-wrap .label-sec {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  margin-top: 20px;
}
.goods-section .comments .comment-box .comment .widg .amount-wrap .label-sec .label-box {
  display: flex;
  width: 100%;
  gap: 10px;
  margin-left: 10px;
  flex-wrap: wrap;
  flex: 1;
}
@media screen and (max-width: 1024px) {
  .goods-section .comments .comment-box .comment .widg .amount-wrap .label-sec .label-box {
    margin-left: 0;
    padding: 0 10px;
  }
}
.goods-section .comments .comment-box .comment .widg .amount-wrap .label-sec .label {
  font-size: 12px;
  background-color: var(--main-color);
  border-radius: 0.3rem;
  text-align: center;
  padding: 4px 12px;
  color: #FFF;
}
.goods-section .comments .comment-box .comment .widg .amount-wrap .write-wrap {
  opacity: 0;
  height: 0;
  transition: all 0.2s ease-in;
  overflow: hidden;
}
.goods-section .comments .comment-box .comment .widg .amount-wrap .write-wrap .form-group {
  margin-bottom: 20px;
}
.goods-section .comments .comment-box .comment .widg .amount-wrap .write-wrap .form-group input {
  appearance: none;
  -webkit-appearance: none;
}
.goods-section .comments .comment-box .comment .widg .amount-wrap .write-wrap .form-group .lab {
  font-size: 14px;
  margin-bottom: 8px;
  white-space: nowrap;
}
.goods-section .comments .comment-box .comment .widg .amount-wrap .write-wrap .form-group .stars {
  justify-content: flex-start;
}
.goods-section .comments .comment-box .comment .widg .amount-wrap .write-wrap .form-group .form-control {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  width: 100%;
  padding: 12px 40px 12px;
  outline: 0;
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  border-radius: 99px;
  font-size: 0.3rem;
  letter-spacing: 0.5px;
  transition: all 0.3s;
}
.goods-section .comments .comment-box .comment .widg .amount-wrap .write-wrap textarea {
  width: 100%;
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px !important;
  padding: 16px 20px !important;
  box-sizing: border-box;
  outline: none;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.2);
  font-family: "YaHei Consolas Hybrid", Consolas, "微软雅黑", "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica, Monaco, courier, monospace;
  font-size: 0.3rem;
  letter-spacing: 0.5px;
  height: 100px !important;
}
.goods-section .comments .comment-box .comment .widg .amount-wrap .write-wrap .submit-btn {
  width: 50%;
  height: 48px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  border: none;
  border-radius: 99px;
  letter-spacing: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
  cursor: pointer;
  font-size: 16px;
  margin: 0 auto;
}
.goods-section .comments .comment-box .comment .widg .amount-wrap .write-wrap .submit-btn:hover {
  letter-spacing: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}
.goods-section .comments .comment-box .comment .widg .amount-wrap .write-wrap.-show {
  opacity: 1;
  border-top: 1px solid #eee;
  padding: 0.5rem 0.2rem 0;
  height: 392px;
}
.goods-section .comments .comment-box .comment .widg .amount-wrap .actions {
  margin: 0 auto;
  width: 50%;
  transition: all 0.3s;
}
.goods-section .comments .comment-box .comment .widg .amount-wrap .actions .write-btn {
  width: 100%;
  height: 48px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  border-radius: 99px;
  letter-spacing: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
  cursor: pointer;
  font-size: 0.3rem;
}
.goods-section .comments .comment-box .comment .widg .amount-wrap .actions .write-btn .writeicon {
  width: 0.3rem;
  height: 0.3rem;
  fill: #FFF;
  margin: 2px 0 0 6px;
}
.goods-section .comments .comment-box .comment .widg .amount-wrap .actions:hover .write-btn {
  letter-spacing: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}
.goods-section .comments .comment-box .comment .widg .amount-wrap .actions .write-cancel {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  text-align: center;
  height: 36px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}
.goods-section .comments .comment-box .comment .widg .amount-wrap .actions .write-cancel:hover {
  color: rgba(255, 255, 255, 0.9);
}
.goods-section .comments .comment-box .comment .history {
  /* .title{
                        font-size: 20px;
                        font-weight: 500;
                        border-left: 4px solid #FFF;
                        padding-left: 10px;
                    } */
}
.goods-section .comments .comment-box .comment .history .label-sec {
  width: 100%;
  margin: 2rem 0 3rem;
  overflow: hidden;
  position: relative;
}
.goods-section .comments .comment-box .comment .history .label-sec:before {
  content: "";
  display: block;
  height: 100%;
  width: 10%;
  background: linear-gradient(90deg, #fff6ed, rgba(255, 255, 255, 0));
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.goods-section .comments .comment-box .comment .history .label-sec:after {
  content: "";
  display: block;
  height: 100%;
  width: 10%;
  background: linear-gradient(-90deg, #fff6ed, rgba(255, 255, 255, 0));
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.goods-section .comments .comment-box .comment .history .label-sec .label-loop {
  display: flex;
  white-space: nowrap;
  margin-top: 0.6rem;
  width: 600%;
}
@keyframes loop {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
.goods-section .comments .comment-box .comment .history .label-sec .label-loop:nth-child(1) {
  animation: loop 30s linear infinite;
  margin-top: 0;
}
.goods-section .comments .comment-box .comment .history .label-sec .label-loop:nth-child(2) {
  animation: loop 50s linear infinite;
}
.goods-section .comments .comment-box .comment .history .label-sec .label-loop:nth-child(3) {
  animation: loop 20s linear infinite;
}
.goods-section .comments .comment-box .comment .history .label-sec .label-loop .label-box {
  display: flex;
  width: 300%;
  gap: 10px;
  margin-left: 10px;
}
.goods-section .comments .comment-box .comment .history .label-sec .label-loop .label-box .label {
  width: 100%;
  font-size: 13px;
  font-weight: 500;
  /* background-color: #ffe8d3; */
  background-color: #fdefe2;
  border-radius: 0.6rem;
  text-align: center;
  padding: 0.6rem 0;
  color: #e87c1a;
  /* border: 1px solid #ffd2a9; */
}
.goods-section .comments .comment-box .comment .history .reviews {
  position: relative;
}
.goods-section .comments .comment-box .comment .history .reviews .loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
}
.goods-section .comments .comment-box .comment .history .reviews .loading.active {
  display: flex;
}
.goods-section .comments .comment-box .comment .history .reviews .rev {
  border-bottom: 1px solid #8bb7a9;
  padding: 20px 0;
}
.goods-section .comments .comment-box .comment .history .reviews .rev:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}
.goods-section .comments .comment-box .comment .history .reviews .rev .like-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.goods-section .comments .comment-box .comment .history .reviews .rev .like-box .doyou {
  font-size: 12px;
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
}
.goods-section .comments .comment-box .comment .history .reviews .rev .like-box .up {
  width: 1.4rem;
  height: 1.4rem;
}
.goods-section .comments .comment-box .comment .history .reviews .rev .like-box .up-num {
  font-size: 12px;
  font-weight: 500;
}
.goods-section .comments .comment-box .comment .history .reviews .rev .name-box {
  display: flex;
  justify-content: space-between;
}
.goods-section .comments .comment-box .comment .history .reviews .rev .name-box .nickname {
  font-size: 13px;
  display: flex;
  align-items: center;
  /* .fans{
                                        color: #ffbf04;
                                        font-size: 11px;
                                        padding: 2px 6px;
                                        border-radius: 4px;
                                        background: linear-gradient(135deg, #737373, #000000);
                                    }
                                    .new{
                                        color: #fffd4f;
                                        font-size: 11px;
                                        padding: 2px 6px;
                                        border-radius: 4px;
                                        background: linear-gradient(135deg, #00f892, #00ce48);
                                    } */
}
.goods-section .comments .comment-box .comment .history .reviews .rev .name-box .nickname .buy-text {
  border-left: 1px solid var(--main-color);
  margin-left: 20px;
  padding-left: 20px;
}
.goods-section .comments .comment-box .comment .history .reviews .rev .name-box .today {
  font-size: 12px;
}
.goods-section .comments .comment-box .comment .history .reviews .rev .star-box {
  margin: 10px 0 20px;
}
.goods-section .comments .comment-box .comment .history .reviews .rev .star-box .row {
  display: flex;
  align-items: center;
  /* height: 22px;
                                    grid-template-columns: 1fr 2fr 0.5fr 1fr; */
  margin: 4px 0;
}
.goods-section .comments .comment-box .comment .history .reviews .rev .star-box .row .stars {
  margin: 0 10px;
}
.goods-section .comments .comment-box .comment .history .reviews .rev .star-box .row .stars i {
  font-size: 12px;
}
.goods-section .comments .comment-box .comment .history .reviews .rev .star-box .row .bar {
  width: 100%;
  height: 8px;
  margin-left: 0.1rem;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.15);
  overflow: hidden;
  min-width: 70px;
}
.goods-section .comments .comment-box .comment .history .reviews .rev .star-box .row .bar .progress {
  width: 0;
  height: 100%;
  background-color: var(--main-color);
  display: block;
}
.goods-section .comments .comment-box .comment .history .reviews .rev .star-box .row .percentage,
.goods-section .comments .comment-box .comment .history .reviews .rev .star-box .row .frequency {
  font-size: 12px;
  /* margin-left: 6px; */
  text-align: left;
  /* font-weight: 500; */
}
.goods-section .comments .comment-box .comment .history .reviews .rev .content {
  /* margin-top: 20px; */
  font-size: 14px;
  width: 80%;
  padding-left: 20px;
}
.goods-section .comments .comment-box .comment .history .reviews .rev .content-pic {
  height: 200px;
  margin: 10px 0 0 20px;
  border-radius: 8px;
}
.goods-section .comments .comment-box .comment .history .paging {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 14px;
  color: #000;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 30px;
}
.goods-section .comments .comment-box .comment .history .paging .prev {
  width: 28px;
  height: 28px;
  background-color: transparent;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}
.goods-section .comments .comment-box .comment .history .paging .prev .previcon {
  width: 18px;
  height: 18px;
  transform: translate(-50%, -50%) scaleX(-1);
  position: absolute;
  top: 52%;
  left: 48%;
  fill: #000;
}
.goods-section .comments .comment-box .comment .history .paging .prev:hover {
  background-color: #000;
}
.goods-section .comments .comment-box .comment .history .paging .prev:hover .previcon {
  fill: #FFF;
}
.goods-section .comments .comment-box .comment .history .paging .disabled {
  opacity: 0.1;
}
.goods-section .comments .comment-box .comment .history .paging .active {
  transform: scale(1.2);
  border-bottom: 1px solid #000;
  transition: all 0.3s;
}
.goods-section .comments .comment-box .comment .history .paging .active:hover {
  color: var(--main-color);
}
.goods-section .comments .comment-box .comment .history .paging .next {
  width: 28px;
  height: 28px;
  background-color: transparent;
  border-radius: 50%;
  position: relative;
  transition: all 0.3s;
}
.goods-section .comments .comment-box .comment .history .paging .next .nexticon {
  width: 18px;
  height: 18px;
  fill: #000;
  position: absolute;
  top: 52%;
  left: 52%;
  transform: translate(-50%, -50%);
}
.goods-section .comments .comment-box .comment .history .paging .next:hover {
  background-color: #000;
}
.goods-section .comments .comment-box .comment .history .paging .next:hover .nexticon {
  fill: #FFF;
}
.goods-section .comments .comment-box .comment .history .lord-more {
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 12px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  width: 50%;
  border-radius: 99px;
  transition: all 0.3s;
}
.goods-section .comments .comment-box .comment .history .lord-more:active {
  border: 2px solid rgba(255, 255, 255, 0.9);
  letter-spacing: 3px;
}
.goods-section .comments .comment-box .comment .history .switch {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 30px;
}
.goods-section .comments .comment-box .comment .history .switch .prev,
.goods-section .comments .comment-box .comment .history .switch .next {
  width: 20%;
  text-align: center;
  font-size: 14px;
  padding: 10px 0;
  border-radius: 0.6rem;
  color: #FFF;
  background-color: var(--main-color);
}
.goods-section .comments .comment-box .comment .history .switch .disabled {
  display: none;
}
.goods-section .final {
  padding: 30px 40px 40px;
}
.goods-section .final .instructions .title {
  margin-bottom: 18px;
  font-weight: bold;
}
.goods-section .final .instructions .present {
  border: 1px solid #8bb7a9;
  font-size: 14px;
  border-radius: 10px;
  overflow: hidden;
}
.goods-section .final .instructions .present .ls {
  display: flex;
  align-items: center;
  position: relative;
}
.goods-section .final .instructions .present .ls:after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.05);
  position: absolute;
  bottom: 0;
  left: 0;
}
.goods-section .final .instructions .present .ls .s1 {
  width: 168px;
  background-color: #d0e7da;
  text-align: center;
  flex-shrink: 0;
  height: 100%;
  padding: 14px 0;
}
.goods-section .final .instructions .present .ls .s2 {
  padding: 0 20px;
}
.goods-section .after-sale {
  margin-top: 45px;
}
.goods-section .after-sale .title {
  font-weight: bold;
}
.goods-section .gallery {
  margin-top: 45px;
}
.goods-section .gallery img {
  width: 100%;
  margin-bottom: 28px;
}
