.product-section{
    padding-bottom: 200px;
    .p-title{
        text-align: center;
        font-size: 32px;
        letter-spacing: 2px;
        font-weight: 500;
        padding-top: 50px;
    }
    .wrap{
        width: 1140px;
        margin: 0 auto;
        overflow: hidden;
    }

    .main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .goods{
            display: flex;
            /* margin-bottom: 54px; */
            cursor: pointer;
            justify-content: center;
            .scale-effect{
                -moz-transition: all .6s cubic-bezier(0,1,1,1);
                -webkit-transition: all .6s cubic-bezier(0,1,1,1);
                -o-transition: all .6s cubic-bezier(0,1,1,1);
                -ms-transition: all .6s cubic-bezier(0,1,1,1);
                transition: all .6s cubic-bezier(0,1,1,1);
            }
            .adv-img{

                width: 540px;
                height: 540px;
                flex-shrink: 0;

                img{
                    width: 540px;

                }
            }
            .info{
                /* width: 540px; */

                background: #d0e7da;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 40px 0;
                .goods-img{
                    width: 340px;
                    height: 340px;

                    flex-shrink: 0;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .boa{
                    /* height: 120px; */
                    text-align: center;

                    position: relative;
                    margin-top: 4px;
                    .title{
                        margin-bottom: 10px;
                        font-size: 20px;
                        font-weight: 500;
                    }
                    .brief{
                        max-height: 130px;
                        font-size: 14px;
                        color: #999;
                    }
                    .label{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        gap: 4px;
                        margin: 0 auto;
                        width: 60%;
                        .label-item{
                            border: 1.5px solid #ff4e4e;
                            border-radius: 4px;
                            padding: 2px 8px;
                            font-size: 12px;
                            color: #ff4e4e;
                            font-weight: 500;
                        }
                    }
                    .price{
                        margin-top: 16px;
                        letter-spacing: 0;
                        /* position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 100%; */
                        .market{
                            font-size: 14px;
                            text-decoration: line-through;
                        }
                        .now{
                            font-size: 20px;
                            color: #ff4e4e;
                            font-weight: 500;
                        }
                    }
                    .shop-btn{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 99px;
                        background-color: var(--main-color);
                        font-size: 16px;
                        padding: 12px 0;
                        color: #f6d776;
                        font-weight: 500;
                        margin: 6px auto 0;
                        transition: all 0.3s;
                        width: 60%;

                        i{
                            margin-left: 10px;
                        }
                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                }
            }


        }
    }
}
.product-description{
    padding: 0 15px;
    margin: 0 auto;
    margin-top: 30px;

    overflow-wrap: break-word;

    .description-warp{
        background-color: var(--main-color);
        border-radius: 15px;
        color: rgba(255, 255, 255,1);
        padding: 10px 20px;
        line-height: 1.6;
        font-size: 14px;
    }
}
